<div class="blog-content">
<h1 matLine>Blog Feed</h1>

<!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message && newPost">
  <div [ngClass]="messageClass">
    <h2 matline>{{ message }}</h2>
  </div>
</div>

<!-- New Post Button -->
<mat-action-row>
  <button mat-stroked-button  name="button" color="success" *ngIf="!newPost" (click)="newBlogForm()">New Post</button>
  <!-- Reload Button -->
  <button mat-stroked-button  [disabled]="loadingBlogs"  name="button" color="primary" *ngIf="!newPost" (click)="reloadBlogs()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Reload</button>
</mat-action-row>
<br />
<br />

<!-- New Blog Form -->
<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
<mat-accordion>
  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>
        Title
      </mat-panel-title>
      <mat-panel-description>
        Enter your title and text
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div [ngClass]="{'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors}">
    <mat-form-field class="full-width-input">

        <input matInput placeholder="*Blog Title..." name="title" autocomplete="off" formControlName="title" required>

        <mat-error *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This field is required.</mat-error>
        <mat-error *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)">Max length: 50, Min length: 5</mat-error>
        <mat-error *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">Must be a letter or number</mat-error>
      </mat-form-field>
    </div>
    <div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">
    <mat-form-field class="full-width-input">
        <textarea matInput  rows="8" cols="80" placeholder="*Body..." name="body" autocomplete="off" formControlName="body" required></textarea>

        <!-- Validation -->
       <mat-error *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</mat-error>
       <mat-error *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)">Max length: 500, Min length: 5</mat-error>
     </mat-form-field>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sauvegarde post
      </mat-panel-title>
      <mat-panel-description>
       Ouvrir le panneau pour sauvegarder
      </mat-panel-description>
    </mat-expansion-panel-header>

<!-- Submit Button -->
<button
mat-stroked-button
color="success" name="button" [disabled]="processing || !form.valid" type="submit">Submit</button>
<button
mat-stroked-button
matTooltip="Retour"
aria-label="Reviens au point de départ !!!!"
color="warm" name="button" [disabled]="processing" type="button" (click)="goBack()">Go Back</button>
  </mat-expansion-panel>
</mat-accordion>
</form>
<!-- Panel Start -->
<div *ngIf="!newPost">
  <!-- Panel Outer Layer -->
  <div class="panel panel-primary" *ngFor="let blog of blogPosts">
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ blog.title }}</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ blog.body }}
            </p>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          </mat-card-content>
          <mat-card-footer>
            <strong>Posted by: </strong>{{ blog.createdBy }}
            <strong>Date: </strong>{{ blog.createdAt | date:'MMM dd, yyyy' }}
            <div *ngIf="username === blog.createdBy">
                <button  mat-mini-fab color="primary" >
                    <i class="large material-icons">thumb_up</i>
                  </button><strong>{{ blog.likes }}&nbsp;</strong>
                <button mat-mini-fab color="warn">
                    <i class="large material-icons">thumb_down</i>
                </button><strong>{{ blog.dislikes }}</strong>

                <br />

              </div>
          </mat-card-footer>
            <mat-card-actions>



         <a [routerLink]="['/edit-blog/', blog._id]" *ngIf="username === blog.createdBy">
          <button mat-icon-button><i class="large material-icons">edit</i>Edit</button></a>
                    <!-- Delete Button -->
           <a [routerLink]="['/delete-blog/', blog._id]" *ngIf="username === blog.createdBy">
            <button mat-icon-button color="accent">&nbsp;&nbsp;&nbsp;<i class="large material-icons">delete</i>Delete</button></a>
             </mat-card-actions>
              <!-- Likes Dropdown  -->
      <div class="dropdown">
          <!-- Like Button -->

          <!--
           <button [disabled]="blog.likedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-success" *ngIf="username !== blog.createdBy" (click)="likeBlog(blog._id)"><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Likes: {{ blog.likes }}</button>
          -->
          <button [disabled]="blog.likedBy.indexOf(username) > -1"
            mat-stroked-button color="primary"
            *ngIf="username !== blog.createdBy"
            (click)="likeBlog(blog._id)">
            <i class="large material-icons">thumb_up</i>&nbsp;&nbsp; {{ blog.likes }}</button>
          <!-- Dropdown Menu Items -->
          <div class="dropdown-content">
            <a [routerLink]="['/user/', liker]" *ngFor="let liker of blog.likedBy">{{ liker }}</a>
          </div>
        </div>

        <!-- Dislikes Dropdown  -->
        <div class="dropdown">
          <!-- Dislike Button -->
          <button [disabled]="blog.dislikedBy.indexOf(username) > -1"
              mat-stroked-button color="warn"
               *ngIf="username !== blog.createdBy"
               (click)="dislikeBlog(blog._id)">
               <i class="large material-icons">thumb_down</i>&nbsp;&nbsp; {{ blog.dislikes }}</button>
          <!-- Dropdown Menu Items -->
          <div class="dropdown-content">
            <a [routerLink]="['/user/', disliker]" *ngFor="let disliker of blog.dislikedBy">{{ disliker }}</a>
          </div>
        </div>
          <!-- Post Comment Box: Start -->
    <ul class="list-group">
        <li class="list-group-item">
          <!-- Post Comment Button -->
          <button type="button" name="button" class="btn btn-sm btn-danger" (click)="draftComment(blog._id)" [disabled]="newComment.indexOf(blog._id) > -1">Post Comment</button>
          <br />
          <br />
          <div *ngIf="newComment.indexOf(blog._id) > -1">

            <!-- Form: Comment Form Start -->
            <form [formGroup]="commentForm">
              <!-- Textarea Input -->
              <textarea name="comment" rows="10" cols="30" class="form-control" formControlName="comment"></textarea>
              <!-- Validation -->
              <div [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
                <ul class="help-block">
                  <li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">This field is required.</li>
                  <li *ngIf="(commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty) ||(commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty)">Comment must be at least 1 character but no more than 200.</li>
                </ul>
              </div>
              <!-- Post Button -->
              <button [disabled]="!commentForm.valid || processing" type="submit" name="button" class="btn btn-sm btn-info" (click)="postComment(blog._id)">Post</button>
              <!-- Cancel Button -->
              <button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger" (click)="cancelSubmission(blog._id)">Cancel</button>
            </form>
            <!-- Form: Comment Form End -->

          </div>

          <!-- Show Comments -->
          <li *ngIf="enabledComments.indexOf(blog._id) === -1 && blog.comments.length > 0" class="list-group-item">
            <span (click)="expand(blog._id)">
              Show comments&nbsp;&nbsp;
              <div class="glyphicon glyphicon-comment"></div>
            </span>
          </li>

          <!-- Hide Comments -->
          <li *ngIf="enabledComments.indexOf(blog._id) > -1" class="list-group-item">
            <span (click)="collapse(blog._id)">
              Hide Comments&nbsp;&nbsp;
              <div class="glyphicon glyphicon-comment"></div>
            </span>
          </li>

          <!-- Comment -->
          <div *ngIf="enabledComments.indexOf(blog._id) > -1">
            <li *ngFor="let comment of blog.comments" class="list-group-item">
              <strong>{{ comment.commentator }}:</strong> {{ comment.comment }}
            </li>
          </div>
      </ul>
        </mat-card>



    <!-- Post Comment Box: End -->

  </div>
  <!-- Panel Outer Layer -->
</div>
<!-- Panel End -->
</div>
