
<div class="register-content">
    <mat-card >
        <mat-card-header>
<mat-card-title>Register Page</mat-card-title>
<!-- Custom Success/Error Message -->
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
      <mat-card-subtitle>{{ message }}</mat-card-subtitle>
  </div>
</div>
  </mat-card-header>
  <mat-card-content class="formulaireRegister">
<!-- Registration Form -->
<form [formGroup]="form" (submit)="onRegisterSubmit()">

  <!-- Username Input -->
  <div class="row">
      <mat-form-field [floatLabel]="options.value.floatLabel" class="full-width-input">
          <div [ngClass]="{'has-error': (form.controls.username.errors && form.controls.username.dirty) || (!usernameValid && form.controls.username.dirty), 'has-success': !form.controls.username.errors && usernameValid}">
              <mat-label>Username</mat-label>
            <input matInput placeholder="username" name="username" formControlName="username" required>
            <mat-error *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">This field is required.</mat-error>
            <mat-error *ngIf="form.controls.username.errors?.minlength && form.controls.username.dirty || form.controls.username.errors?.maxlength && form.controls.username.dirty ">Minimum characters: 3, Maximum characters: 15</mat-error>
            <mat-error *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">Username must not have any special characters</mat-error>
            <mat-error *ngIf="usernameMessage">{{ usernameMessage }}</mat-error>
        </div>
        </mat-form-field>
      </div>

  <!-- Email Input -->
  <div class="row">
      <mat-form-field [floatLabel]="options.value.floatLabel" class="full-width-input">
          <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty) || (!emailValid && form.controls.email.dirty), 'has-success': !form.controls.email.errors && emailValid}">
              <mat-label>Email</mat-label>
            <input matInput placeholder="email" name="email" formControlName="email" required>
            <mat-error *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required.</mat-error>
            <mat-error *ngIf="(form.controls.email.errors?.minlength && form.controls.email.dirty || form.controls.email.errors?.maxlength && form.controls.email.dirty ) && form.controls.email.dirty">Minimum characters: 5, Maximum characters: 30</mat-error>
            <mat-error *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">This must be a valid e-mail</mat-error>
            <mat-error  *ngIf="emailMessage">{{ emailMessage}}</mat-error>
        </div>
        </mat-form-field>
      </div>

  <!-- Password Input -->
  <div class="row">
      <mat-form-field [floatLabel]="options.value.floatLabel" class="full-width-input">
        <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}">
              <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="*Password" name="password" formControlName="password" required>
            <mat-error *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required</mat-error>
            <mat-error *ngIf="form.controls.password.errors?.minlength && form.controls.password.dirty || form.controls.password.errors?.maxlength && form.controls.password.dirty ">Minimum characters: 8, Maximum characters: 35</mat-error>
            <mat-error *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Password must be at least 8 characters but no more than 35</mat-error>
        </div>
        </mat-form-field>
      </div>


  <!-- Confirm Password Input -->
  <div class="row">
      <mat-form-field [floatLabel]="options.value.floatLabel" class="full-width-input">
        <div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
              <mat-label>Confirm Password</mat-label>
            <input matInput type="password" placeholder="*Confirm Password" name="confirm" formControlName="confirm" required>
            <mat-error *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required</mat-error>
            <mat-error *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Password do not match</mat-error>
        </div>
        </mat-form-field>
      </div>

  <!-- Submit Input -->
  <!--
    <button mat-stroked-button color="primary" [disabled]="!form.valid || processing || !emailValid || !usernameValid" type="submit">Submit</button>
  -->
  <span *ngIf="!form.valid || processing || !emailValid || !usernameValid">

    <button mat-stroked-button matTooltip="Validation" color="primary" *ngIf="!form.valid || processing || !emailValid || !usernameValid" type="submit">Submit</button>
  </span>
<!--
  <button mat-stroked-button color="primary" [disabled]="!form.valid || processing || !emailValid || !usernameValid" type="submit">Submit</button>
-->
</form>
<!-- Registration Form /-->
</mat-card-content>
</mat-card>
</div>
